<h1>Create A Tweeterous Account</h1>
<%= form_for User.new do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit 'Create' %>
<% end %>
